:root {
  --black: #012836;
  --slateGrey: #1D4244;
  --babyBlue: #9EBFEB;
  --aliceBlue: #EBF4FB;
  --grey: #6A848B;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Geist", sans-serif;
    background-color: var(--aliceBlue);
}

#hero-section {
    background-image: url(images/bahia.jpg);
    background-size: cover;
    background-position: center;
    color: var(--aliceBlue);
    margin: 0;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-weight: 300;
}

img {
    width: 100px;
}

.round-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#hero-title, #hero-subtitle {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 10px;
}

#hero-title {
    background-color: var(--black);
}

#hero-subtitle {
    background-color: var(--slateGrey);
    width: 400px; 
}

#activities-section {
    background-color: var(--babyBlue);
    margin: 0 auto;
    padding: 16px 32px 32px 32px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

#activities-container {
    display: flex;
    width: 100%;
    margin: 16px auto 0 auto;
    justify-content: space-around;
}

.container-img {
    margin: 0 16px;
    width: 240px;
}

#profile-section {
    margin: 48px;
}

#profile-card {
    background-color: var(--grey);
    height: fit-content;
    width: 480px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    color: var(--aliceBlue);
    border-radius: 24px;
    border-bottom: 8px solid var(--black);
}

#profile-img {
    width: 240px;
    height: 240px;
    background-image: url(images/inigo.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

#profile-container {
    width: 320px;
    margin: 24px;
}

#profile-container p {
    font-style: italic;
}

#footer-section {
    background-color: var(--black);
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-section ul {
    list-style: none;
}

#footer-section ul li {
    display: inline-block;
    margin: 0 16px;
}

#footer-section ul li a:hover {
    color: var(--babyBlue);
}

#footer-section ul li a {
    color: var(--aliceBlue);
    text-decoration: none;
    transition: color 0.3s ease;
}